name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VERSION_UV: "0.4.10"

jobs:
  lint:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true
          version: ${{ env.VERSION_UV }}

      - name: uv sync
        run: uv sync --frozen --dev

      - name: codespell
        run: uv run codespell .

      - name: ruff check
        run: uv run ruff check --output-format=github

      - name: basedpyright
        run: uv run basedpyright

      - name: markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v17
        with:
          config: ".markdownlint.yaml"
          globs: "*.md"

  test:
    timeout-minutes: 5

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.12", "3.13"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup uv
        uses: astral-sh/setup-uv@v2
        with:
          version: ${{ env.VERSION_UV }}
          enable-cache: true

      - name: setup python
        run: uv python install ${{ matrix.python-version }}

      - name: uv sync
        run: uv sync --frozen --dev

      - name: pytest
        run: uv run pytest
